*{
    box-sizing: border-box;
}

#main-page{
    background-color: rgb(10, 10, 10);
    min-height: 100%;
}

html, body{
    margin: auto; 
}

.text{
    display: flex;
}

.text-large{
    font-size: 60px;
    line-height: 0px;
    font-family:'Misfit';
    padding-left: 50px;
    padding-top: 35px;
    justify-content: center;
}

.text-small{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.text-big{
    font-family:monospace;
}

.header{
    display: contents;
    justify-content: center;
}

#title{
    padding-bottom: 10px;
}

.text--dark{
    color: black;
}

.text-bright{
    color: white;
}

.background{
    background: black;
    background-size: cover;
}

.homebar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    margin-top: 25px;
}

.homebar-menu{
    display: flex;
    align-items: center;
    width: 100%
}

.homebar-menu li{
    display: flex;
    list-style: none;
    padding: 0px 50px;
    padding-left: 10px;
}

.homebar-menu li a{
    font-size: 40px;
    text-decoration: none;
    color: white;
    font-family: 'Misfit';
}

.searchbar{
    width: 100%;
    padding: 5px;
    text-align: right; 
    padding-right: 250px;
}

.content1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    height: 30%;
    width: 90%;
    border-color: rgb(4, 253, 45);
    border-style: solid;
    border-radius: 5px;
    margin: 50px;
}

.textbox{
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.block-title1{
    font-style: normal;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;  
}

.anarchyimg{
    display: flex;
    margin: auto;
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.rotate{
    animation: rotation 10s infinite linear;
}

.content2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(4, 253, 45);
    border-radius: 5px;
    height: 10%;
    width: 35%;
    margin-left: 30%;
    margin-bottom: 10%;
    padding-bottom: 5%;
}

.block-title2{
    font-style: normal;
    font-size: 30px;
    text-align: center;
}

.updates{
    display: flex;
    justify-content: center;
    align-content: center;
}

.form-email{
    height: 100%;
}

#subscribe-br{
    border-radius: 5px;
    border-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-left: 15%;
    background-color: black;
    padding: 10px 20px;
}

.content3{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 50%;
    width: 52%;
    border-radius: 3px;
    border-style: solid;
    border-color: rgb(4, 253, 45);
}

.subtitle{
    color: white;
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
}

#images{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    max-height: 75%;
}

.bottom-footer{
    display: flex;
    justify-content: center;
    position: absolute;
    color: white;
    bottom: 0%;
    margin-left: 1%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.column1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    min-width: 50%;
}

.column2{
    display: flex;
    flex-direction: column;
    min-width: 90%;
}

.fullcontent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
